APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=your_project_id
APPWRITE_API_KEY=your_api_key
DATABASE_ID=your_database_id
FILES_COLLECTION_ID=your_collection_id
BUCKET_ID=your_bucket_id